@import 'prismjs/themes/prism-tomorrow.css';
@import './navigation/navigation.css';

:root {
  --grey-900: rgb(38, 38, 38);
  --grey-700: rgb(88, 88, 88);
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

html {
  color: var(--grey-900);
}

*,
::after,
::before {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--grey-900);
}

.body {
  margin: 0;
  padding: 0;
  border: 4px solid var(--grey-900);
  height: 100vh;
}

.result {
  width: 100%;
  border: none;
  display: none;
}

.previews {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 50px);
  width: 100%;
}

pre[class*='language-'] {
  overflow: auto;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.preview-html,
.preview-css,
.preview-js {
  display: none;
}

.preview-html.active,
.preview-css.active,
.preview-js.active {
  display: block;
  width: 100%;
}

.result.active {
  display: block;
}

@media (min-width: 470px) {
  .previews {
    flex-wrap: wrap;
  }

  .result {
    display: block;
    flex-grow: 1;
  }

  .preview {
    width: 50%;
  }

  .preview.active {
    width: 50%;
  }
}
