@import 'prismjs/themes/prism-tomorrow.css';
@import './navigation/navigation.css';
@import '@fontsource/inter/900.css';

:root {
  --grey-900: rgb(38, 38, 38);
  --grey-700: rgb(88, 88, 88);
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}

html {
  color: var(--grey-900);
}

*,
::after,
::before {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--grey-900);
}

.body {
  margin: 0;
  padding: 0;
  border: 4px solid var(--grey-900);
  height: 100vh;
}

.result {
  width: 100%;
  flex-shrink: 0;
  border: none;
  display: none;
}

.previews {
  display: flex;
  flex-grow: 1;
  height: calc(100% - 50px);
  width: 100%;
  overflow: hidden;
}

pre[class*='language-'] {
  flex-shrink: 0;
  overflow: auto;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.preview-html,
.preview-css,
.preview-js {
  display: none;
}

.preview-html.active,
.preview-css.active,
.preview-js.active {
  display: block;
  width: 100%;
}

.result.active {
  display: block;
}

ul {
  list-style: none;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

a > span {
  width: 24px;
  height: 24px;
}

a:hover {
  color: var(--grey-700);
}

a:focus {
  outline: 0;
}

a:focus:not([tabindex='-1']) {
  outline: 4px solid var(--grey-700);
  outline-offset: 2px;
}

.empty-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--grey-900);
}

.empty-view strong[role='banner'] {
  display: block;
  color: white;
}

.empty-view ul {
  display: flex;
  margin-top: 20px;
}

ul li + li {
  margin-left: 20px;
}

@media (min-width: 470px) {
  .previews {
    flex-wrap: wrap;
  }

  .result {
    display: block;
    flex-grow: 1;
  }

  .preview {
    width: 50%;
  }

  .preview.active {
    width: 50%;
  }

  .empty-view {
    display: none;
  }
}
