.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 4px solid var(--grey-900);
}

strong[role='banner'] {
  text-transform: uppercase;
  display: none;
}

.navigation__actions {
  display: flex;
  flex-grow: 1;
}

.navigation__button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 900;
  border: none;
  padding: 12px;
  height: 46px;
  flex-grow: 1;
  border-left: 4px solid var(--grey-900);
}

.navigation__button:first-child {
  border-left-width: 0;
}

.navigation__button--result {
  display: inline;
}

.navigation__button:hover {
  background-color: var(--grey-700);
  color: white;
}

.navigation__button:focus {
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navigation__button[aria-pressed='true'] {
  background-color: var(--grey-900);
  box-shadow: inset 4px 4px 0 var(--grey-700);
  color: white;
}

@media (min-width: 470px) {
  .navigation__actions {
    width: 50%;
    flex-grow: 0;
  }

  .navigation__button--result {
    display: none;
  }

  strong[role='banner'] {
    display: block;
    padding: 0 14px;
  }
}
